{% extends "social/base.html" %}
{% load staticfiles %}
{% block content %}
<div class='main'>
  <h3>
    {% if view %} <a href="/social/messages?view={{ view }}">
      {{view}}
      </a>'s Messages
    {% else %}
    Your Messages
    {%endif%}</h3>
  <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    {% if view %}
    <input type="hidden" name="view" value="{{view}}">
    {%endif%}
    <input type="submit" value="Post Message" />
  </form>
  <div id="messages"><ul id="message-list"></ul></div>
  <p>{{view}}</p>
  {#% for pm in pms %#}
  <!-- <h1>pm.text</h1> -->
  {#% endfor %#}
</div>
<script src="{% static 'social/jquery-1.11.2.js' %}"></script>
<script src="{% static 'social/ajax.js' %}"></script>
<script>
  getMessages('{{view}}');
</script>
{% endblock %}
